.vault_container{
    margin: 3rem;
    margin-bottom: 1rem;
}
.vault_container_inner{
    margin: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.password_heading{
    font-weight: bold;
    font-size: 1.3rem;
}


.password_dropdown{
    position: absolute;
    right: 95%;
    top: 70%;
    border: none;
}
.folderIcon{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 2rem;
}
.fs_1{
    font-size: .9rem;
}
.fs_07{
    font-size: .7rem;
}
.shared_link_text{
    font-weight: normal;
    padding: .5rem;
    padding-top: .7rem;
}
.admin_text{
    color: #00854D;
    font-size: 1rem;
}
.invite_user,.addPassword_icon{
 
    border-radius: 50%;
    border: 1px solid #00854D;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    transition: all .3s ;
}
.password_circle{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border-color: #00854D;
 border: 1px solid #00854D;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    /* color: #fff; */
}
.invite_user{
    width: 2.1rem;
    height: 2.1rem;
}
.addPassword_icon{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}
.password_circle:hover{
    background-color: #04a05f;
    color: #fff;
}
.invite_user:hover,.addPassword_icon:hover{
    background-color: #00854D;
    color: #fff;
}
.vault_empty_text{
    font-weight: bolder;
    font-size: 1.3rem;
}
.firstPass_text{
    font-size: 1rem;
    color: #858585;
}
.vault_empty{
height: 60%;
}
/* ===============================================Modal Styling=================================================== */

.modal-dialog {
    max-width: 600px !important;
    margin-right: auto;
    margin-left: auto;
}
.password_input_wrapper{
    position: relative;
}
.eye_icon{
        position: absolute;
        top: 23%;
        right: -22%;
        cursor: pointer;
}
.edit_icon_access{
    position: absolute;
right: 3%;
}
/* ====================================Add Password=========================== */
.pb-07{
    padding-bottom: 0.7rem;
}
.password_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
border-radius: 10px;
height: auto;
margin-top: -1rem;
}
.wrap_login {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    position: relative;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
margin-top: -1rem;

}
.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem .7rem 1rem;
    margin-top: 1rem;
}
.login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,.7);
  
    border-radius: 10px;
}
.login100-form-title-1 {
    font-size: 1.3rem;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.2;
    text-align: center;
}
.login100_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 43px 88px 93px 190px; */
    padding: 45px 92px 40px 170px;
}
.wrap_input100{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}
.label_input100{
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -152px;
    /* width: 80px; */
}
.input100{
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: 0 0;
    padding: 0 5px;
    outline: none;
    border: none;
    height: 45px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
    background: #57b846;
}
.input100::placeholder{
    font-size: .8rem;
}
.input100:focus::placeholder {
    color: transparent;
  }
.input100:focus + .focus-input100::before {
    width: 100%;
  }
.password_backBtn{
width: 100%;
display: flex;
align-items: center;
margin-left: .7rem;
  }
.backbtn_text{
    margin-left: .3rem;
    font-size: 1rem;
    margin-top: .2rem;
    font-weight: bold;
}


.title_border {
    height: 27px;
    border-left: 4px solid #00ca72;
  }
  .grayText {
    color: #676879;
  }
  .add_password_wrapper{
    padding-left: 3rem;
  }
  .password_button_wrapper{
display: flex;
width: 100%;
justify-content: flex-end;
}