@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,500;8..60,600;8..60,700;8..60,800;8..60,900&display=swap");

.ql-toolbar :where(.css-dev-only-do-not-override-gzal6t).ant-divider-vertical {
  height: 1.5em;
  border-inline-start: 1px solid #d0d4e4;
}
:root {
  --ck-clipboard-drop-target-color: green;
}
.ck-powered-by-balloon {
  display: none !important;
}

/* .docCreater .table {
  border: 1px solid hsl(0, 0%, 70%);
} */
.docCreater
  .ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: 0;
  box-shadow: none;
}
.docCreater .ck-editor__main {
  border: 0;
  padding: 32px 100px 0px 100px;
}
.docCreater .ck-content {
  border: 0;
  min-height: 76vh;
  padding: 50px 50px 0px 50px;
  border-radius: 8px;
}
.docCreater .ck-content h2 strong {
  font-size: 36px;
  font-weight: 800;
}
.docCreater .ck-toolbar {
  border: 0;
  padding: 13px;
}
.docCreater .ck-sticky-panel__content {
  border-bottom: 1px solid #d0d4e4;
}
.doc-sidebar {
  top: 50px !important;
}

.doc-sidebar .selector {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activeBtn {
  background-color: #e2f0e7 !important;
  border: 1px solid #00854d;
}
.Doc-switch input {
  background-color: #c3c6d4 !important;
  padding: 11px 22px !important;
}
.darkShadow {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08) !important;
}
.doc-title {
  font-size: 36px;
  font-weight: bolder;
}
.ck-dialog {
  border: 0px !important;
  border-radius: 8px !important;
}
.ck-dropdown__panel {
  border: 0px !important;
  border-radius: 8px !important;
}
.ck-input {
  box-shadow: none !important;
  border-radius: 4px !important;
}

.share-icon {
  width: 24px;
  height: 24px;
  background-color: #292f4c;
  border-radius: 6px;
}
.share-icon img {
  width: 18px;
}
.icon-crown {
  width: 20px;
  height: 20px;
  background-color: #0073ea;
  border-radius: 10px;
}
.person-avatar {
  background-color: #ff642a;
  width: 30px;
  height: 30px;
  font-size: 15px;
}
.share-headings {
  font-weight: 700;
  font-size: 18px;
}
.mShare-heading {
  font-weight: 700 !important;
  font-size: 24px !important;
}
.DocShare-modal .modal-body {
  padding-top: 8px;
}
.DocShare-modal .modal-dialog {
  width: 530px;
}
.DocShare-modal .modal-header {
  padding-bottom: 0;
  border: none;
}
.ant-popover {
  z-index: 9999;
}
.share-person:hover {
  background-color: #dcdfec;
}
